<!-- DESKTOP -->
{{render "header" isVisible=controller.headerShowing}}

{{trash-can action='deleteApp' show=controller.appMoving}}

{{render "searchBar"}}

{{outlet applist}}

{{view 'login'}}

<div id="ui_maskLayer_0" class="ui_maskLayer">
  <div id="ui_maskLayerBody_0" class="ui_maskLayerBody"></div>
</div>
