<ul class="nav fadeIn fadeIn-50ms fadeOut fadeOut-50ms">
  <li class="logo fadeIn fadeIn-50ms">
    <span>{{view.companyName}}</span>
  </li>
  {{view 'header-dock' content=dock}}
  <li class="login fadeIn fadeIn-50ms">
      {{#if user.isLogin}}
      <span>
        <a {{action 'showProfile' target=view}}>{{user.firstName}} {{user.lastName}}</a>
      </span>

      {{else}}
      <span>
        <a {{action 'loginShow'}}>Sign up / Log in</a>
        <img src="assets/img/GAUSIAN_logo.png" >
      </span>
      {{/if}}
  </li>
  {{#if view.showProfile}}
  <ul class="dropdown-menu pull-right">
    <li>
      <a>My Account</a>
    </li>
    <li>
      <a>Generate New Account</a>
    </li>
    {{#each user.companies}}
    <li>
      <a {{action 'changeCompany' id target=view}}>{{name}}</a>
    </li>
    {{/each}}
    <li>
      <a {{action 'SignOut'}}>Sign Out</a>
    </li>
  </ul>
  {{/if}}
</ul>
