<ul class="nav fadeIn fadeIn-50ms animated fadeIn">
  <li class="logo fadeIn fadeIn-50ms">
    <span>
      <a {{action 'showProfile_comp' target=view}}> {{view.companyName}} </a>
    </span>
  </li>
  {{#if view.showProfile_comp}}
  <ul class="dropdown-menu-left">
    <li>
      <a>Company Info</a>
    </li>
    <li>
      <a>Create New Accounts</a>
    </li>
  </ul>
  {{/if}}

  {{view 'header-dock' content=dock}}

  <li class="login fadeIn fadeIn-50ms">
      {{#if user.isLogin}}
      <span>
        <a {{action 'showProfile' target=view}}>{{user.firstName}} {{user.lastName}}</a>
      </span>

      {{else}}
      <span>
        <a {{action 'loginShow'}}>Sign up / Log in</a>
        <img src="assets/img/GAUSIAN_logo.png" >
      </span>
      {{/if}}
  </li>
  {{#if view.showProfile}}
  <ul class="dropdown-menu pull-right">
    <li>
      <a>My Account</a>
    </li>
    {{#each user.companies}}
    <li>
      <a {{action 'changeCompany' id target=view}}>{{name}}</a>
    </li>
    {{/each}}
    <li>
      <a {{action 'SignOut'}}>Sign Out</a>
    </li>
  </ul>
  {{/if}}
</ul>
