<div class="icon">
  <img {{bind-attr src=view.content.icon}} />
</div>
<div class="detail">
  <a class="name">{{view.content.app_name}}</a>
  <a class="star-rating"> {{star-rating content=view.content.rating}} </a>
  <a class="category">{{view.content.category}}</a>
  <a class="price">{{view.content.freeDay}} days free trail, ${{view.content.pricing_by_month}} /month</a>
</div>
{{#if view.content.installed}}
<a class="action open" {{action "openApp" target=view}}>
  {{view.label}}
</a>
{{else}}
<a class="action get" {{action "installApp" target=view}}>
  {{view.label}}
</a>
{{/if}}
