<div class="search fadeIn fadeIn-50ms fadeIn-Delay-20ms">
  <div class="search-icon"></div>
  {{input type="text" placeholder="Search APP or Content" disabled=true}}
</div>

<div class="overlay">
  <div class="modal fadeIn fadeIn-50ms">
    {{input type="text" value=view.query}}
    <a class="cancel_search" {{action 'cancel' target=view}}>Cancel</a>
    <div class="container">
    {{view 'search-results' content=view.searchContent}}

    {{view 'scroll-bar' trackLen=view.trackLen  handlerLen=view.handlerLen handlerTop=view.handlerTop}}
    </div>
  </div>
</div>
