<div class="icon">
  <img {{bind-attr src=view.content.icon}} />
</div>
<div class="detail">
  <a class="name">{{view.content.name}}</a> 
  <a class="star-rating"> {{star-rating content=view.content.rating}} </a>
  <a class="category">{{view.content.category}}</a>
  <a class="price">{{view.content.freeDay}} days free trail, ${{view.content.price}} /month</a>
</div>
<div {{bind-attr class=":action content.installed:open:get"}}>
  {{view.label}}
<div>
