<div class="front shadow">
  <div class="header">
    <span class="titleInside">{{view.content.name}}</span>
  </div>
  <nav class="control-window">
    <a href="#" class="minimize" {{action 'minimizeApp' target=view}}>minimize</a>
    <a href="#" class="maximize" {{action 'maximizeApp' target=view}}>maximize</a>
    <a href="#" class="close" {{action 'closeApp' view.content target=view.parentView}}>close</a>
  </nav>
  <div class="container">
    {{yield}}
  </div>
</div>
<div class="back shadow">
	<div class="back_edge">
		<div class="back_content">
			<img
				class="return_icon"
				src="assets/img/return.png"
				{{action 'flipApp' target=view}}
			/>
			<div class="back_shadow_decoration"></div>
			<div class="back_title">Available Links on Desktop</div>
			<div class="back_app_container">
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Map/icon.png"/>
					<div class="back_name">Map</div>
					<div class="back_app_linked">
						<img class="back_app_linked_img" src="assets/img/link_orange.png"/>
					</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<div class="back_app_overlay_text">Unlink</div>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/HipChat/icon.png"/>
					<div class="back_name">HipChat</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Quotes/icon.png"/>
					<div class="back_name">Quotes</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/HipChat/icon.png"/>
					<div class="back_name">HipChat</div>
					<div class="back_app_linked">
						<img class="back_app_linked_img" src="assets/img/link_orange.png"/>
					</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<div class="back_app_overlay_text">Unlink</div>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Pixlr/icon.png"/>
					<div class="back_name">Pixlr</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/TakaBreak/icon.png"/>
					<div class="back_name">TakaBreak</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/LiveCAM/icon.png"/>
					<div class="back_name">LiveCAM</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Math/icon.png"/>
					<div class="back_name">Math</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Withholding/icon.png"/>
					<div class="back_name">Withholding</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image" src="http://asa.static.gausian.com/user_app/Draw/icon.png"/>
					<div class="back_name">Draw</div>
					<div class="back_app_overlay" onclick="flipper.classList.toggle('flipped');">
						<img class="back_app_overlay_img" src="assets/img/link_orange.png"/>
					</div>
				</div>
			</div>
<!-- 						<div class="back_recommend">Popular Links on Cloud</div>
			<div class="back_recommend_container">
				<div class="back_app_unit">
					<img class="back_app_image2" src="http://asa.static.gausian.com/user_app/Quotes/icon.png"/>
					<div class="back_name">Quotes</div>
					<div class="back_app_overlay"></div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image2" src="http://asa.static.gausian.com/user_app/HipChat/icon.png"/>
					<div class="back_name">HipChat</div>
					<div class="back_app_overlay"></div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image2" src="http://asa.static.gausian.com/user_app/Pixlr/icon.png"/>
					<div class="back_name">Pixlr</div>
					<div class="back_app_overlay"></div>
				</div>
				<div class="back_app_unit">
					<img class="back_app_image2" src="http://asa.static.gausian.com/user_app/Map/icon.png"/>
					<div class="back_name">Map</div>
					<div class="back_app_overlay"></div>
				</div>
			</div> -->
			<div class="back_notation">Powered by GAUSIAN ASA</div>
		</div>
	</div>
</div>
