<div class="front shadow">
  <div class="header">
    <span class="titleInside">{{view.content.name}}</span>
  </div>
  <nav class="control-window">
    <a href="#" class="minimize" {{action 'minimizeApp' target=view}}>minimize</a>
    <a href="#" class="maximize" {{action 'maximizeApp' target=view}}>maximize</a>
    <a href="#" class="close" {{action 'closeApp' view.content target=view.parentView}}>close</a>
  </nav>
  <div class="container">
    {{yield}}
  </div>
</div>
<div class="back shadow">
  <img
    class="return_icon"
    src="assets/img/return.png"
    {{action 'unflip' target=view}}
  />
  {{view 'link-board' content=view.appLinkables}}
</div>
